@inherits LayoutComponentBase

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Orbitron&family=Press+Start+2P&display=swap" rel="stylesheet">



<div class="page">
    <div class="space-bg"></div>
    <div class="top-row" style="background: #2980B9; background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);">
        <h1 class="space-shooter-title">
            Space Shooter
        </h1>
    </div>
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>

<style>
    .space-shooter-title {
        font-family: "Audiowide", sans-serif;

    }
</style>

